# Here the default values of the config are defined.
# But it is strongly recomendated to redifine while deploy in production.
ACCESS_TOKEN_TTL="10m"
REFRESH_TOKEN_TTL="24h"
SIGNING_KEY="super_hard_random_string"

# WARNING !!!
# Be careful with changing this parameter. You shoudl set it once at 
# the start of deploying, and after never change it. Changing after
# will result in clients not being able to login.
APP_SALT="super_hard_random_string_for_salt"

# Environment for server runing 
APP_READ_TIMEOUT="10s"
APP_WRITE_TIMEOUT="10s"
APP_IDLE_TIMEOUT="10s" 
APP_PORT="9000"

# Environment credentials
POSTGRES_DRIVER="postgres"
POSTGRES_CONN_STRING="postgresql://root:password@localhost:5433/chat-app-db?sslmode=disable"

# SMTP settings
# For gmail should use SMTP_ADDRESS="smtp.gmail.com" and SMTP_PORT="587"
# For gmail app password should be generated
SMTP_ACCOUNT="some@example.com"
SMTP_PASSWORD="somepassword"
SMTP_ADDRESS="mail.example.com"
SMTP_PORT="587"

# Logger
LOG_LEVEL="INFO"